.navigation {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #334;
}

.navigation {
  padding: 10px;
  box-shadow: 0 0 8px 1px #334;
  z-index: 10;
}

.navigation ul {
  display: flex;
  flex-direction: row;
}

.navigation li {
  margin: var(--size-1);
  padding: var(--size-2) var(--size-3);
  color: #eee;

  text-transform: capitalize;
  font-size: 20px;
  border-radius: var(--size-2);
  cursor: pointer;
}

.navigation li.active {
  background-color: #eee;
  color: black;
}
