*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
	padding: 0;
	border: 0;
  color: #345;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigation {
  width: auto;
  background-color: #2f7;
}

.navigation {
  padding: 10px;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navigation li {
  margin: 5px;
  padding: 5px 10px;
  text-transform: capitalize;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

.navigation li.active {
  color: snow;
  background-color: #345;
}
